header {
    max-width: 1502px;
    padding: 45px 16px 0;
    margin: 0 auto;
    width: 100%;
}

.first_screen{
    background: #1B1B1B;
    color: #FFFFFF;
    height: 100vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

header {
    display: flex;
    justify-content: flex-end;
}

.logo {
    
}

.first_screen .first_screen_content h1{
    letter-spacing: 1.7em;
    font-size: 30px;
    text-transform: uppercase;
    text-indent: 1.7em;
    text-align: center;
}

.first_screen .first_screen_content p{
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
}

.first_screen-lenk {
    margin: 0 auto;
}